


<p-toast />
<p-button type="button" pRipple (onClick)="show()" label="Success" severity="success" />

<p-button label="Add Customer" icon="pi pi-plus" (onClick)="addCustomer()"></p-button>

<p-table [value]="customers" selectionMode="single" [(selection)]="selectedCustomer">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th><th>Surname</th><th>Phone</th><th>Email</th><th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-customer>
    <tr>
      <td>{{customer.customerName}}</td>
      <td>{{customer.customerSurname}}</td>
      <td>{{customer.customerPhoneNumber}}</td>
      <td>{{customer.customerEmail}}</td>
      <td>
        <p-button icon="pi pi-pencil" class="p-button-rounded p-button-success" (onClick)="editCustomer(customer)"></p-button>
        <p-button icon="pi pi-trash" class="p-button-rounded p-button-danger" (onClick)="deleteCustomer(customer)"></p-button>
        <p-button icon="pi pi-list" class="p-button-rounded p-button-info" (onClick)="viewOrders(customer)"></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog header="Customer Form" [(visible)]="displayForm" modal="true" [closable]="false" [style]="{width: '500px'}">
  <form class="p-fluid p-formgrid p-grid" (ngSubmit)="saveCustomer(selectedCustomer)">
    
    <div class="p-grid p-formgrid p-mb-9">
      <label for="name">Name</label>
      <input id="name" type="text" pInputText [(ngModel)]="selectedCustomer.customerName" name="name"/>
    </div>
    
    <div class="p-grid p-formgrid p-mb-3">
      <label for="surname">Surname</label>
      <input id="surname" type="text" pInputText [(ngModel)]="selectedCustomer.customerSurname" name="surname"/>
    </div>
    
    <div class="p-field p-col-6 p-mb-3">
      <label for="phoneNr">Phone</label>
      <input id="phoneNr" type="text" pInputText [(ngModel)]="selectedCustomer.customerPhoneNumber" name="phoneNr"/>
    </div>
    
    <div class="p-field p-col-12">
      <label for="email">Email</label>
      <input id="email" type="email" pInputText [(ngModel)]="selectedCustomer.customerEmail" name="email"/>
    </div>
    
    <div class="p-col-12 p-d-flex p-jc-end p-mt-2">
      <p-button label="Save" icon="pi pi-check" class="p-mr-2" type="submit"></p-button>
      <p-button label="Cancel" icon="pi pi-times" class="p-button-secondary" (onClick)="displayForm=false"></p-button>
    </div>
    
  </form>
</p-dialog>


<!-- Customer Orders Dialog -->
<p-dialog header="Customer Orders" [(visible)]="displayOrders" modal="true" [closable]="true" [style]="{width: '600px'}">
  <app-customer-orders [customer]="selectedCustomer"></app-customer-orders>

</p-dialog>
