<nav class="bg-sky-800 text-white p-4 flex justify-between items-center shadow-md">
  <div class="text-lg font-bold">Backspace Technologies</div>

  <ul class="flex space-x-4">
    <li>
      <a routerLink="/customers" class="hover:text-gray-300">Customers</a>
    </li>
    <li>
      <a routerLink="/products" class="hover:text-gray-300">Products</a>
    </li>
    <li>
      <a routerLink="/orders" class="hover:text-gray-300">Orders</a>
    </li>
  </ul>


  <button
    (click)="logout()"
    class="bg-red-600 hover:bg-red-700 text-white px-3 py-1 rounded"
  >
    Logout
  </button>
</nav>
